<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PenDriveVid" value="VID_058F" />
		<add key="PenDriveName" value="USB Mass Storage Device" />
		
		<add key="UsbHubControllerVid" value="VID_0424" />
		<add key="UsbHubControllerName" value="Generic USB Hub" />

		<add key="UsbCompositeDeviceVid" value="VID_08BB" />
		<add key="UsbCompositeDeviceName" value="USB Composite Device" />
		
		<add key="UsbAudioControllerVid" value="VID_08BB" />
		<add key="UsbAudioControllerName" value="USB audio CODEC" />
		
		<add key="NetworkAdapterVid" value="VID_0B95" />
		<add key="NetworkAdapterName" value="ASIX AX88179 USB 3.0 to Gigabit Ethernet Adapter" />

		<add key="FlashDiskVid" value="PROD_FLASH_DISK" />
		<add key="FlashDiskName" value="Generic Flash Disk USB Device" />

		<add key="UnknownDeviceVid" value="VID_0000" />
	</appSettings>
</configuration>